body {
    margin: 0;
    font-family: sans-serif;
}

.landing-page-hero { 
    background-color: #004c80; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; 
    padding: 20px;
    box-sizing: border-box;
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    z-index: 1;
}

.hero-content h1 {
    animation: slideIn 1s ease-out forwards;
    opacity: 0; 
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content strong {
    font-size: 24px;
    display: block;
    margin-bottom: 40px;
    padding: 10px;
}

.hero-content .cta-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

.hero-content .cta-button:hover {
    background-color: #0056b3; 
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}

/* Corner elements (adjust as needed) */
.landing-page-hero::before, 
.landing-page-hero::after {
    content: '';
    position: absolute;
    border: 2px solid #66ff33;
    width: 15%;
    height: 25%;
    z-index: 0;
}

.landing-page-hero::before {
    top: 12%;
    left: 15%;
    border-right: none;
    border-bottom: none;
}

.landing-page-hero::after {
    bottom: 12%;
    right: 15%;
    border-left: none;
    border-top: none;
}

@media (max-height: 600px) or (max-width: 600px) {
    .hero-content {
        transform: scale(0.8);
    }
    
    .landing-page-hero::before, 
    .landing-page-hero::after {
        width: 10%;
        height: 20%;
    }
}

.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px; 
  }